body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.top-bar {
            background-color: #ff6b4a;
            color: white;
            padding: 8px;
            text-align: center;
            font-size: 14px;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        .top-bar span {
            margin: 0 10px;
        }

        /* Navigation header */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;
            color: black;
            padding: 0px 0px;
            background: white;
            box-shadow: 0 2px 5px rgba(0,0,0,0.05);
            position: relative;
            top: 32px;
            left: 0;
            width: 100%;
            z-index: 999;
        }

        header img {
            height: 60px;
        }

        nav ul {
            list-style: none;
            display: flex;
        }

        nav ul li {
            margin: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
        }

        nav ul li a:hover {
            color: #323130;
        }


/* About Section */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background: #fff;
}

.about .text {
  width: 50%;
}

.about h4 {
  color: #009688;
  letter-spacing: 2px;
}

.about h1 {
  font-size: 50px;
  line-height: 1.5;
}

.about p {
  font-size: 25px;
  color: #666;
  margin: 20px 0;
}

.scroll-btn
 {
      background-color: hsl(174, 100%, 29%);      
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .scroll-btn:hover {
    background-color: hsl(174, 100%, 29%);       
  }


.about .image img {
  width: 500px;
  border-radius: 10px;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
}

.hero h5 {
  color: #009688;
  letter-spacing: 2px;
  font-weight: 600;
}

.hero h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 10px 0 30px 0;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* About Section */
.about {
  background: #fff;
  padding: 80px 100px;
  text-align: center;
}

.about p {
  font-size: 17px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 30px;
}

blockquote {
  background: #004d40;
  color: #fff;
  padding: 25px;
  border-left: 5px solid #ff7043;
  font-style: italic;
  width: 80%;
  margin: 20px auto;
  border-radius: 8px;
}


/* Contact Section */
.contact {
  text-align: center;
  padding: 70px 20px;
  background: #fff;
}

.contact h2 {
  color: #333;
}

.contact p {
  font-size: 16px;
  margin: 5px 0;
}

/* Features Section */
.features {
  background: #d3d1d1;
  padding: 80px;
  text-align: center;
}

.features h1 {
  margin-bottom: 40px;
}

.feature-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.box {
  border: 1px solid #ccc;
  padding: 25px;
  background: white;
  border-radius: 40px;
  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Products Section */
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background: white;
}

.products .text {
  width: 50%;
}

.products h1 {
  font-size: 60px;
}

.products p {
  color: #666;
  font-size: 25px;
  margin: 20px 0;
}

.products .btn {
  background-color: #009688;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
}

.products .image img {
  width: 500px;
  border-radius: 10px;
}
 footer {
 background: #ff6b4a;
 text-align: center;
 padding: 12px;
 color: white;
 position: fixed; 
 bottom: 0;
 width: 100%;
 z-index: 999;
        }
 